.App {
  text-align: center;
}

.App-header {
  background-color: #9BABB8;
  padding: 0% 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:flex-start;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.section1 img{
  width: calc(30rem);
}
.section2 img{
  width: calc(30rem)
 
}
.list{
  list-style-position: outside;
  padding: 0 4rem; 
}
.l2{
  transform: translateX(-3rem);
}
.list li{
  text-align: start;
}




